[user]
	name = Carsten Behnert
	email = c.behnert@gmx.de

[color]
	ui = auto

[core]
	editor = vim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	followTags = true
[init]
	defaultBranch = main
